#home-background-1 {
  background-image: url('../images/pattern.svg');
  opacity: 0.5;
}

#home-background-2 {
  background-image: url('../images/log.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.shadeable:hover {
  -webkit-box-shadow: 0px 0px 28px -8px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 0px 28px -8px rgba(0,0,0,0.39);
  box-shadow: 0px 0px 28px -8px rgba(0,0,0,0.39);
}